.back-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #01ecfa, #b633a2);
    font-family: Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}

.NombrePagina{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Pixelify Sans', cursive;
}

.back-button:hover {
    background-color: #0056b3;
}

#LogoP{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.social-links a {
    margin: 0 2rem;
}

.social-links a img {
    width: 70px; 
}

.agradecimiento {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    text-align: center;
}

.agradecimiento h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.agradecimiento p {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 20px;
}

footer {
    background: linear-gradient(to bottom, #01ecfa, #b633a2);;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 10px;
}

.footer-column {
    flex: 0 0 calc(33.33% - 270px); 
    box-sizing: border-box;
    text-align: left;
}


.footer-column p {
    font-size: 14px;
    margin: 0;
    text-align: center;
}


