*:before,
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #01ecfa, #b633a2);
    font-family: Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.back-button:hover {
    background-color: #0056b3;
}
  
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #080710;
    
}

body {
    background-image: url(../imagen2.png);
    background-repeat: no-repeat;
    background-size: 550px 550px;
    background-position: 530px 120px;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    color: black;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
    border: 2px solid #b633a2;
    box-shadow: 0 0 5px #b633a2(255, 204, 0, 0.5);
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #01ecfa;
}

.social{
  margin-top: 25px;
  display: flex;
  cursor: pointer;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 10px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 68px;
}
.social i{
  margin-right: 4px;
}


/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    .background {
        width: 100%;
        height: auto;
        position: relative;
        transform: none;
        left: auto;
        top: auto;
    }

    .background .shape {
        height: 100px;
        width: 100px;
        position: relative;
        border-radius: 50%;
    }

    .shape:first-child {
        left: 0;
        top: 0;
    }

    .shape:last-child {
        right: 0;
        bottom: 0;
    }

    form {
        height: auto;
        width: 100%;
        position: relative;
        transform: none;
        top: auto;
        left: auto;
    }
}
